# Python (Flask)
flask-app/__pycache__/
flask-app/*.pyc
flask-app/*.pyo
flask-app/*.log
flask-app/.env
flask-app/.venv/
flask-app/venv/
flask-app/env/
flask-app/instance/
flask-app/*.sqlite3

# MySQL
flask-app/*.sql~
flask-app/*.db
flask-app/*.db-journal
flask-app/mysql-data/
flask-app/*.cnf

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log

# Terraform module-related
modules/**/.terraform/
modules/**/*.tfstate
modules/**/*.tfstate.*
modules/**/terraform.tfvars
modules/**/terraform.tfvars.json
modules/**/override.tf
modules/**/override.tf.json

# Secrets and credentials
*.pem
*.key
*.crt
config.yaml
config.json

# OS & Editor specific
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints/
